@model  IEnumerable<DotPay.ViewModel.MarketGenerateStatistics>
<div class="market_con txtshadow boxshadow" id="g_statistics">
    <div class="market_mid">
        <div class="market_talbe">
            <table cellpadding="0" cellspacing="0" id="tb_marketGenerateStatistics">
                <thead>
                    <tr class="boxshadow nootxtshadow">
                        <th width="120">
                            <span class="market_talbetitle">交易频道</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th width="120">
                            <span class="market_talbetitle">交易币种</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th width="120">
                            <span class="market_talbetitle">最新价格</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th width="140">
                            <span class="market_talbetitle">24H 涨跌幅</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th width="140">
                            <span class="market_talbetitle">24H 最低价</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th width="140">
                            <span class="market_talbetitle">24H 最高价</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th width="140">
                            <span class="market_talbetitle">24H 成交量</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th width="140">
                            <span class="market_talbetitle">24H 成交量(CNY)</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                        <th>
                            <span class="market_talbetitle">累计成交量(CNY)</span>
                            <span class="market_arr"><span class="market_arrUp"></span><span class="market_arrDown"></span></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in (IEnumerable<DotPay.ViewModel.MarketGenerateStatistics>)ViewBag.MarketGenerateStatistics.AllMarketGenerateStatistics)
                    {

                        <tr class="@(0 > 0 ? "actived" : "")">
                            <td class="markblodCoin">
                                @order.MarketType.TargetCurrency
                            </td>
                            <td class="markblodTxt">
                                @order.MarketType.BaseCurrency
                            </td>
                            <td>
                                @order.NewestPrice.ToString("0.########")
                            </td>
                            <td class="@(order.TwentyFourHoursTheRiseAndDecline > 0 ? "increase": order.TwentyFourHoursTheRiseAndDecline<0? "decrease": "common")">
                                <span>@order.TwentyFourHoursTheRiseAndDecline.ToString("P")</span>
                            </td>
                            <td>
                                @order.TwentyFourHoursLowPrice.ToString("0.########")
                            </td>
                            <td>
                                @order.TwentyFourHoursHighPrice.ToString("0.########")
                            </td>
                            <td>
                                @order.TwentyFourHoursVolume
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var index_statistics_interval;
        var index_statistics_subscribe;
        var vm_index_statistics;
        clearInterval(index_statistics_interval)
        var mapping_profile = {
            'AllMarketGenerateStatistics': { key: function (data) { return ko.utils.unwrapObservable(data.MarketType); } }
        }
        index_statistics_interval = setInterval(function () {
            $.post("/indexStatistics", function (data) {
                vm_index_statistics = ko.mapping.fromJS(data);
                if (!index_statistics_subscribe) {
                    var h_table_body = "<tbody data-bind='foreach:{data:AllMarketGenerateStatistics}'><tr data-bind=\"attr: { 'class': TwentyFourHoursCNYVolume()>0?'actived':''}\">" +
                                       "<td class='markblodCoin' data-bind='text:TargetCurrency'></td>" +
                                       "<td class='markblodTxt' data-bind='text:BaseCurrency'></td>" +
                                       "<td data-bind='text:NewestPrice'></td><td  data-bind=\"attr: { 'class': TwentyFourHoursTheRiseAndDecline()>0?'increase':(TwentyFourHoursTheRiseAndDecline()<0?'decrease':'common')}\"><span data-bind='text:(TwentyFourHoursTheRiseAndDecline()*100).toFixed(2)+\"%\" '></span></td>" +
                                       "<td data-bind='text:TwentyFourHoursLowPrice'></td><td data-bind='text:TwentyFourHoursHighPrice'></td>" +
                                       "<td data-bind='text:TwentyFourHoursVolume'></td><td data-bind='text:TwentyFourHoursCNYVolume'></td>" +
                                       "<td data-bind='text:AllBaseCurrencyVolume'></td></tr></tbody>";

                    $("#tb_marketGenerateStatistics tbody").remove();
                    $("#tb_marketGenerateStatistics").append(h_table_body);
                    ko.applyBindings(vm_index_statistics, document.getElementById("g_statistics"));
                    index_statistics_subscribe = true;
                }
            })
        }, 10000);

    </script>
</div>