@using DotPay.Language 
<div id="main" class="container">

    <style>
        #login-form .form-control-feedback { top: 25px; right: 0px; }
    </style>
    <div class="row row-6">
        <div class="col-md-6 col-md-offset-3 ptl-5">
            <div class="panel panel-default panel-page">
                <div class="panel-heading"><h2>登录</h2></div>
                <div class="fail box" id="failBox" style="display:none;">
                    <img src="~/public/images/error.png" alt="Error!" class="left 2x" width="24"><span id="spanFailBox"></span>
                </div>
                <div class="success box" id="sucessBox" style="@(!string.IsNullOrEmpty( ViewBag.ResetSuccess)?"": "display:none;")">
                    <img src="~/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br><span id="spanSuccessBox">@ViewBag.ResetSuccess</span>
                </div>
                <form id="login-form" class="form-vertical">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="control-label" for="login_email">帐号</label>
                        <div class="controls">
                            <input class="form-control" id="login_email" type="text" name="email" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="login_password">密码</label>
                        <div class="controls">
                            <input class="form-control" id="login_password" type="password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary btn-large btn-block">登录</button>
                        </div>
                    </div>
                </form>
                <div class="ptl">
                    <a href="/forgetPassword">找回密码</a>
                    <span class="text-muted mhs">|</span>
                    <span class="text-muted">还没有注册帐号？</span>
                    <a href="/register">立即注册</a>
                </div>
                <div class="social-logins">
                    <a href="https://api.weibo.com:443/oauth2/authorize?client_id=156073260&redirect_uri=http%3A%2F%2Fwww.fullcoin.com%2Fweibologin&response_type=code&display=default" class="social-login-btn"><i class="social-icon social-icon-weibo"></i>微博帐号登录</a>
                    <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101081985&redirect_uri=http://www.fullcoin.com/qqlogin&state=fc&scope=get_user_info" class="social-login-btn"><i class="social-icon social-icon-qq"></i>QQ帐号登录</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<script type="text/javascript">

    $(document).ready(function () {
        $('#login-form').bootstrapValidator({
            message: '请输入合法的值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            trigger: 'cut paste blur',
            fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空!'
                        },
                        emailAddress: {
                            message: '请输入一个正确的邮箱地址'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '请输入密码'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            var $form = $(e.target);
            $.ajax({
                type: 'POST',
                url: '/login?returnurl=@ViewBag.ReturnUrl',
                data: $form.serialize(),
                success: function (data) {
                    if (data.Code == 1) {
                        window.location = ("@ViewBag.ReturnUrl".length > 0 ? "@ViewBag.ReturnUrl" : "/my/profile");
                    } else {
                        if (data.Code == 2) {
                            window.location = "/login/twofactor/" + data.Hash + ("@ViewBag.ReturnUrl".length > 0 ? '?ReturnUrl=' + "@ViewBag.ReturnUrl" : "");
                        } else {
                            $('#spanFailBox').html(data.Message);
                            $('#failBox').show();
                            $('#sucessBox').hide();
                            $('html, body').animate({
                                scrollTop: $("#failBox").offset().top - 95
                            }, 1000);
                            $('#password').val('');
                        }
                    }
                }
            });
        }).on('error.validator.bv', function (e, data) {
            data.element
                .data('bv.messages')
                .find('.help-block[data-bv-for="' + data.field + '"]').hide()
                .filter('[data-bv-validator="' + data.validator + '"]').show();
        });
    });
</script>
