@using DotPay.Language
<h1>@Html.Lang("Login to your Account")</h1>
<div class="fail box" id="failBox" style="display:none;"><img src="/public/images/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_error")!</strong><br><span id="spanFailBox"></span></div>
<div class="success box" id="sucessBox" style="display:none;"><img src="/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br><span id="spanSuccessBox"></span></div>
<form id="registerForm">
    @Html.AntiForgeryToken()
    <input type="hidden" name="verifyHash" value="@ViewData["VerifyHash"] ">
    <br>
    <table class="table register">
        <tbody>
            @if (ViewBag.CurrentTmpUser.IsOpenLoginGA)
            {
                <tr>
                    <th style="width:180px;">@Html.Lang("Google Authentication Token")</th>
                    <td><input type="text" autofocus="" name="ga_otp" value=""></td>
                </tr>}
            @if (ViewBag.CurrentTmpUser.IsOpenLoginSMS)
            {
                <tr>
                    <th style="width:180px;">@Html.Lang("SMS Authentication Token")</th>
                    <td><input type="text" autofocus="" name="sms_otp" value=""><br><a id="btnSendSMSForLogin2FA">@Html.Lang("Click here to get SMS Authentication Code")</a></td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <input type="submit" value="@Html.Lang("Login")">
    <br><br>
    @Html.LangAsHtmlString("Don't have your Google Authenticator token any more? You'll need to contact support with your <strong>2FA secret</strong> in order to regain access to your account.")
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#registerForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/login/verifytwofactor',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.Code == 1) {
                        window.location = ("@ViewBag.ReturnUrl".length > 0 ? "@ViewBag.ReturnUrl" : "/");
                    } else {
                        $('#spanFailBox').html(data.Message);
                        $('#failBox').show();
                        $('#sucessBox').hide();
                        $('html, body').animate({
                            scrollTop: $("#failBox").offset().top - 95
                        }, 1000);
                        $('input[name="token"]').val('');
                    }
                }
            });
        });
        $("#btnSendSMSForLogin2FA").click(function () {
            sendsms($(this), smsUseFor.Login2FA);
        });
    });
</script>