@using DotPay.Language
<h1>@Html.Lang("Register Account")</h1>
<div class="fail box" id="failBox" style="display:none;">
    <img src="@ViewBag.CDN/public/images/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_error")!</strong><br><span id="spanFailBox"></span>
</div>
<form id="registerForm">
    @Html.AntiForgeryToken()
    <h3>@Html.Lang("Your Details")</h3>
    <table class="table register">
        <tbody>
            <tr>
                <th>@Html.Lang("Email Address")</th>
                <td>
                    <input type="text" name="email" id="email" required="" value=""> <br>
                </td>
            </tr>
            <tr>
                <th>@Html.Lang("Password")</th>
                <td>
                    <input type="password" name="password" id="password" value=""><br>
                    <span>@Html.Lang("Please enter 6 characters minimum, including 1 or more digits.")</span>
                </td>
            </tr>
            <tr>
                <th>@Html.Lang("Confirm Login Password")</th>
                <td>
                    <input type="password" name="confirmPassword" id="confirmPassword" value=""><br>
                    <span> @Html.Lang("Please type your password again.")</span>
                </td>
            </tr>
            <tr>
                <th>@Html.Lang("register_image_Code")</th>
                <td>
                    <input name="checkcode" type="text" id="txt_checkcode" style="width:200px" class="text" /><a href="###" id="imglink"><img style="vertical-align:middle;margin-left:20px" src="/cci" /></a>
                    <br>

                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="checkbox" name="termsofservice" id="termsofservice">@Html.LangAsHtmlString("I have read and agree to the {0} .", "<a href='/terms'>" + Html.Lang("register_Terms of Service") + "</a>")
    <br><br>
    <input type="submit" value="@Html.Lang("Register Account")" id="postbut">
</form>
<script type="text/javascript">
    $(document).ready(function () {

        $("#registerForm").validate({
            rules: {
                answer1: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirmPassword: {
                    required: true,
                    minlength: 6,
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                },
                termsofservice: "required"
            },
            messages: {
                password: {
                    required: "@Html.Lang("Please provide a password")",
                    minlength: "@Html.Lang("Your password must be at least 6 characters long")"
                },
                confirmPassword: {
                    required: "@Html.Lang("Please provide a password")",
                    minlength: "@Html.Lang("Your password must be at least 6 characters long")",
                    equalTo: "@Html.Lang("Please enter the same password as above")"
                },
                email: "@Html.Lang("Please enter a valid email address.")",
                termsofservice: "@Html.Lang("Please accept our TOS.")"
            }
        });

        $("#imglink").click(function () {
            $(this).find("img").attr("src", "/cci?" + Math.random())
        });
        $("#registerForm").submit(function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                $.ajax({
                    type: 'POST',
                    url: '/registerUser',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.Code == 1) {
                            window.location = '/market/CNY/BTC';
                        } else {
                            $('#spanFailBox').html(data.Message);
                            $('#failBox').show();
                            $('html, body').animate({
                                scrollTop: $("#failBox").offset().top - 95
                            }, 1000);
                        }
                    }
                });
            }
        });
    });
</script>