@using FC.Framework
@using System.Collections.Generic
@using DotPay.ViewModel
@using DotPay.Language
<div class="news_list">
    <h1>@Html.Lang("Site_Notice_Title")</h1>
    <div>
        @foreach (var act in (IEnumerable<NoticeInListModel>)ViewBag.Announcements)
        {
            @*@act.CreateAt.ToLocalDateTime().ToString("yyyy年MM月dd日")<br />
                @act.CreateAt.ToLocalDateTime().ToString("HH:mm")*@
            <div class="news_txt">
                <h3 class="title">
                    @act.Title
                </h3>
                <div class="news_txtdes" style="color:#666">
                    @MvcHtmlString.Create(act.Content)
                </div>
                <div class="news_des">
                    <span>@act.CreateAt.ToLocalDateTime().ToString("yyyy-MM-dd HH:mm")</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>@Html.Lang("Team Name")</span>
                </div>
            </div>
            <br>
        }
    </div>
    <div style="float:right">
        <a @(ViewBag.HasPre ? ("href=/notices-" + (ViewBag.CurrentPage - 1).ToString()) : "disabled=disabled href=notices#") title="@Html.Lang("Pre Page")">
            @Html.Lang("Pre Page")
        </a>
        <a @(ViewBag.HasNext ? ("href=/notices-" + (ViewBag.CurrentPage + 1).ToString()) : "href=notices# disabled=disabled") title="@Html.Lang("Next Page")">
            @Html.Lang("Next Page")
        </a>
    </div>
</div> 