@using FC.Framework
@using DotPay.ViewModel
@using DotPay.Common
@using DotPay.Language
<div class="news_list">
    <h1>@Html.Lang("Site_News_Title")</h1>
    <div>
        @foreach (var act in (IEnumerable<ArticleInListModel>)ViewBag.Articles)
        {
            @*@act.CreateAt.ToLocalDateTime().ToString("yyyy年MM月dd日")<br />
                @act.CreateAt.ToLocalDateTime().ToString("HH:mm")*@
            <div class="news_txt">
                <a href="/news-@ViewBag.Category.ToString("D")-@act.ID">
                    <h3 class="title">
                        @act.Title
                    </h3>
                    <div class="news_txtdes">
                        @MvcHtmlString.Create(act.Content.Length <= 200 ? act.Content : act.Content.Substring(0, 200).Replace("<p>", string.Empty).Replace("</p>", string.Empty) + "……")
                    </div>
                </a>
                <div class="news_des">
                    <span>@act.CreateAt.ToLocalDateTime().ToString("yyyy-MM-dd HH:mm")</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>@Html.Lang("Team Name")</span>
                </div>
            </div>
            <br>
        }
    </div>
    <div style="float:right">
        <a @(ViewBag.HasPre ? ("href=/news-" + ViewBag.Category.ToString("D") + "/p" + (ViewBag.CurrentPage - 1).ToString()) : "disabled=disabled href=/news-" + ViewBag.Category.ToString("D") + "/p" + ViewBag.CurrentPage.ToString() + "#") title="@Html.Lang("Pre Page")">
            @Html.Lang("Pre Page")
        </a>
        <a @(ViewBag.HasNext ? ("href=/news-" + ViewBag.Category.ToString("D") + "/p" + (ViewBag.CurrentPage + 1).ToString()) : "disabled=disabled href=/news-" + ViewBag.Category.ToString("D") + "/p" + ViewBag.CurrentPage.ToString() + "#") title="@Html.Lang("Next Page")">
            @Html.Lang("Next Page")
        </a>
    </div>
</div>

@*<div>
        <div class="news_list">
            <h1 class="txtshadow">新闻资讯</h1>
            <ul>
                @foreach (var act in (IEnumerable<ArticleInListModel>)ViewBag.Articles)
                {
                    <li>
                        <div class="news_date">
                            @act.CreateAt.ToLocalDateTime().ToString("yyyy年MM月dd日")<br />
                            @act.CreateAt.ToLocalDateTime().ToString("HH:mm")
                        </div>
                        <div class="news_txt">
                            <a href="/news-@ViewBag.Category.ToString("D")-@act.ID">
                                <p class="title">
                                    @act.Title
                                </p>
                                <p class="news_txtdes">
                                    @MvcHtmlString.Create(act.Content.Length <= 148 ? act.Content : act.Content.Substring(0, 148).Replace("<p>", string.Empty).Replace("</p>", string.Empty) + "……")
                                </p>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <p class="psges">
            <a @(ViewBag.HasPre ? ("href=/news-" + ViewBag.Category.ToString("D") + "/p" + (ViewBag.CurrentPage - 1).ToString()) : "disabled=disabled href=/news-" + ViewBag.Category.ToString("D") + "/p" + ViewBag.CurrentPage.ToString() + "#") title="@Html.Lang("Next Page")">
                @Html.Lang("Next Page")
            </a>
            <a @(ViewBag.HasNext ? ("href=/news-" + ViewBag.Category.ToString("D") + "/p" + (ViewBag.CurrentPage + 1).ToString()) : "disabled=disabled href=/news-" + ViewBag.Category.ToString("D") + "/p" + ViewBag.CurrentPage.ToString() + "#") title="@Html.Lang("Next Page")">
                @Html.Lang("Next Page")
            </a>
        </p>
    </div>*@