@using FC.Framework
@using DotPay.ViewModel
@using DotPay.Common
@section _banner{
    @Html.Partial("_banner")
}
@Html.Partial("_NewHeader")
<div class="news">
    <div class="news_con">
        @Html.Partial("_menu")
        <div class="news_content">
            <div>
                @switch ((ArticleCategory)ViewBag.Category)
                {
                    case ArticleCategory.Common:
                        <h1 class="txtshadow">新闻资讯</h1>
                        break;
                    case ArticleCategory.Industry:
                    <h1 class="txtshadow">业界动态</h1>
                        break;
                    case ArticleCategory.Recruitment:
                    <h1 class="txtshadow">招贤纳士</h1>
                        break;
                    case ArticleCategory.AboutUs:
                    <h1 class="txtshadow">关于我们</h1>
                        break;
                    case ArticleCategory.Contact:
                    <h1 class="txtshadow">联系我们</h1>
                        break;
                    default:
                    <h1 class="txtshadow">网站公告</h1>
                        break;
                }
                <div class="news_list">
                    <ul>
                        @foreach (var act in (IEnumerable<ArticleInListModel>)ViewBag.Articles)
                        {
                            <li>
                                <div class="news_date">
                                    @act.CreateAt.ToLocalDateTime().ToString("yyyy年MM月dd日")<br />
                                    @act.CreateAt.ToLocalDateTime().ToString("HH:mm")
                                </div>
                                <div class="news_txt">
                                    <a href="/news-@ViewBag.Category.ToString("D")-@act.ID">
                                        <p class="title">
                                            @act.Title
                                        </p>
                                        <p class="news_txtdes">
                                            @MvcHtmlString.Create(act.Content.Length <= 148 ? act.Content : act.Content.Substring(0, 148).Replace("<p>", string.Empty).Replace("</p>", string.Empty) + "……")
                                        </p>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <p class="psges">
                    <a @(ViewBag.HasPre ? ("href=/news-" + ViewBag.Category.ToString("D") + "/p" + (ViewBag.CurrentPage - 1).ToString()) : "disabled=disabled href=/news-" + ViewBag.Category.ToString("D") + "/p" + ViewBag.CurrentPage.ToString() + "#") title="@Html.Lang("Next Page")">
                        @Html.Lang("Next Page")
                    </a>
                    <a @(ViewBag.HasNext ? ("href=/news-" + ViewBag.Category.ToString("D") + "/p" + (ViewBag.CurrentPage + 1).ToString()) : "disabled=disabled href=/news-" + ViewBag.Category.ToString("D") + "/p" + ViewBag.CurrentPage.ToString() + "#") title="@Html.Lang("Next Page")">
                        @Html.Lang("Next Page")
                    </a>
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>