@using FC.Framework
@using System.Collections.Generic
@using DotPay.ViewModel
@section _banner{
    @Html.Partial("_banner")
}

@Html.Partial("_NewHeader")
<div class="news">
    <div class="news_con">
        @Html.Partial("_menu")
        <div class="news_detail">
            <div>
                @if (ViewBag.Article != null)
                {
                    <h2 class="title txtshadow">
                        @ViewBag.Article.Title
                        <span class="date">@ViewBag.CreateAt</span>
                    </h2>
                    <div class="content">@MvcHtmlString.Create(ViewBag.Article.Content)</div>
                }
                else
                {
                    <h2 class="title txtshadow">
                        招贤纳士
                    </h2>
                    <div class="content">暂无内容</div>
                }
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>