@if (!ViewBag.Success)
{
    if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        using (Html.BeginForm("LockDepositCode", "Deposit", FormMethod.Post, new { id = "LockDepositcodeIndexForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="inputcode">
                <div class="inputcodep">
                    <p class="codetxt">
                        充值码面值： <span>@ViewBag.DepositCode.Amount @ViewBag.Currency.ToString()</span>
                    </p>
                    <p class="subcode">
                        <input type="hidden" name="code" value="@ViewBag.DepositCode.Code" />
                        <input type="hidden" name="isLock" value="@((!ViewBag.LockSuccess).ToString())" />
                        @if (ViewBag.LockSuccess)
                        {
                            <span style="color:#d2d2d2">锁定成功 @ViewBag.LockExpirationTime 后解除锁定 </span> <a href="###" id="btnUnlockDepositCode" title="锁定充值码">解除锁定</a>
                        }
                        else
                        {
                            <a href="###" id="btnLockDepositCode" title="锁定充值码">锁定充值码</a>
                        }
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="inputcode" style="color:red;padding-left:50px">
            @ViewBag.ErrorMessage
        </div>
    }
}
else
{
    <div class="inputcode" style="color:red;padding-left:50px">
        成功充值  @ViewBag.DepositCode.Amount @ViewBag.Currency.ToString()
    </div>
}