@using DotPay.Language
@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
<div class="profile_nav">
    <ul class="tabs">
        <li class="active"><a href="/my/profile">我的点付</a></li>
        <li><a href="/balances">@Html.Lang("Balances")</a></li>
        <li><a href="/txrecords">交易记录</a></li>
        <li><a href="/settings">账户设置</a></li>
        <li><a href="/loginHistory">@Html.Lang("Login History")</a></li>
    </ul>
</div>

<h2>人民币充值 <span class="coinname">CNY</span></h2>

<div class="success box" id="sucessBox" style="display:none;"><img src="/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br><span id="spanSuccessBox"></span></div>
<div class="fail box" id="failBox" style="display:none;"><img src="/public/images/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_error")!</strong><br><span id="spanFailBox"></span></div>
您的用户ID :<span class="coinname"> @(980000 + ViewBag.CurrentUser.UserID).</span>
@Html.Lang("Your current available {0} balance:", (string)ViewBag.Currency.ToString()) <strong>@ViewBag.Balance.ToString("0.########")</strong>
<br>
<div class="paycode">
    <h5>充值码代理商列表</h5>
    <div class="paycodelist">
        <ul>
            <li>
                <span class="pl_agency">
                    充值渠道
                </span>
                <span class="pl_name">
                    娃娃
                </span>
                <span class="pl_contact">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2833216794&site=qq&menu=yes"><img border="0" src="/public/images/qq_online.gif" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </span>
            </li>
            <li>
                <span class="pl_agency">
                    充值渠道
                </span>
                <span class="pl_name">
                    面包大叔
                </span>
                <span class="pl_contact">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2070067536&site=qq&menu=yes"><img border="0" src="/public/images/qq_online.gif" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="recharge">
    <p class="recontact">
        申请聚宝盆充值代理，请联系官方企业QQ <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwNDMxNV8xNjE3MzlfNDAwMDU1MDY5OF8yXw">4000550698</a>
    </p>
</div>

<form id="depositForm">
    <h3> 使用 聚宝盆充值码(Fullcoin Code) 充值</h3>
    <div id="subDepositCode" class="inputcode">
        @Html.AntiForgeryToken()
        <div class="options box" id="vlidateState" style="display: none;margin-left:180px;">
            <span id="depositCodeAmount"></span><input type="hidden" id="depositCodePrefix">  &nbsp;<span id="lockInfo" style="display:none;" class="lock"></span>
            <input id="btnlock" type="button" class="inline" value="@Html.Lang("Lock Deposit Code")">
            <input id="btnunlock" type="button" class="inline" value="@Html.Lang("Unlock Deposit Code")">
        </div>
        <div class="inputcodep">
            <p>
                <span class="title">聚宝盆充值码：</span>  <input name="depositcode" id="txtDepositCnyCode" autocomplete="off" placeholder="请输入充值码" type="text" />
            </p>
            <p>
                <span class="title">请输入验证码：</span>   <input autocomplete="off" name="checkcode" id="txtCheckCode" type="text" />图片验证码<img id="imgCode" src="/cci" /> 看不清?<a href="###" id="changeCode">@Html.Lang("Refresh Captcha")</a>
            </p>
            <p>
                <input type="submit" value="提交充值码">
            </p>
        </div>
    </div>
</form>


<div class="box fail" style="margin: 25px 0 0;">
    <strong>请注意:</strong> 用户从代理商或他人手中购买充值码时，<strong>请务必索要充值码前半段，到这里提交，点击锁定按钮以后再付款，</strong>谨防受骗。<br>
</div>
<div class="box fail" style="margin: 25px 0 0;">
    <strong>请注意:</strong> 聚宝盆推出充值码站内转账服务，所有币种均可生成或冲入聚宝盆充值码。请在保证安全的情况下，从其他用户或者代理手中购买充值码。如有问题请务必通过官方企业QQ联系在线客服：4000550698 ，或致电我们 4000550698。 如下班时间客服不在线，请发邮件到 Email: support@fullcoin.com，我们会及时为您处理。
    <script type="text/javascript">
        $(document).ready(function () {
            $("#changeCode").click(function () {
                $("#imgCode").attr("src", "/cci?" + Math.random())
            });
            $("#depositForm").validate({
                rules: {
                    depositcode: "required",
                    checkcode: "required"
                },
                messages: {
                    depositcode: "请输入充值码",
                    checkcode: "请输入验证码"
                }
            });
            $("#depositForm").submit(function (event) {
                event.preventDefault();
                if ($(this).valid()) {
                    $.ajax({
                        type: 'POST',
                        url: '/submitDepositCode',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.Code == 1) {
                                commonFormSuccessCallback(data);
                            }
                            else if (data.Code == 2) {
                                $("#vlidateState").css("display", "inline-block");
                                $('#failBox').hide()
                                $("#depositCodeAmount").html(data.AmountMessage);
                                $("#depositCodePrefix").val(data.DepositCode);
                                if (data.Locked == true) {
                                    $("#lockInfo").html(data.LockedMessage).show();
                                    $("#btnlock").hide();
                                    $("#btnunlock").show();
                                }
                                else {
                                    $("#btnunlock").hide();
                                    $("#btnlock").show();
                                    $("#lockInfo").html("").hide();
                                }
                            }
                            else commonFormFailCallback(data)
                        }, complete: function () {
                            $("#imgCode").attr("src", "/cci?" + Math.random())
                        }
                    });
                }
            });

            $("#btnlock").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/depositCodeLock',
                    data: "depositCode=" + $("#depositCodePrefix").val() + "&lock=true",
                    success: function (data) {
                        if (data.Code == 1) {
                            $("#vlidateState").css("display", "inline-block");
                            $('#failBox').hide()
                            $("#depositCodeAmount").html(data.AmountMessage);
                            $("#depositCodePrefix").val(data.DepositCode);
                            $("#lockInfo").html(data.LockedMessage).show();
                            $("#btnlock").hide();
                            $("#btnunlock").show();
                        }
                        else commonFormFailCallback(data)
                    }
                });
            });
            $("#btnunlock").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/depositCodeLock',
                    data: "depositCode=" + $("#depositCodePrefix").val() + "&lock=false",
                    success: function (data) {
                        if (data.Code == 1) {
                            $("#vlidateState").css("display", "inline-block");
                            $('#failBox').hide()
                            $("#depositCodeAmount").html(data.AmountMessage);
                            $("#depositCodePrefix").val(data.DepositCode);
                            $("#lockInfo").html(data.LockedMessage).show();
                            $("#btnunlock").hide();
                            $("#btnlock").show();
                        }
                        else commonFormFailCallback(data)
                    }
                });
            });
        });
    </script>
</div> 