@using DotPay.Language
<ul class="tabs">
    <li><a href="/profile">@Html.Lang("Profile")</a></li>
    <li class="active"><a href="/balances">@Html.Lang("Balances")</a></li>
    <li><a href="/orders">@Html.Lang("Orders")</a></li>
    <li><a href="/trades">@Html.Lang("Trade History")</a></li>
    <li><a href="/loginHistory">@Html.Lang("Login History")</a></li>
</ul>
<h2>@Html.Lang("Coin Deposits") - @ViewBag.CurrencyCode</h2>
<input type="hidden" id="currencyCode" value="@ViewBag.CurrencyCode" />
@Html.Lang("Below is a list of deposits that you have made. Click the expander icon on the left of each row to reveal more details about the deposit.")
<br><br>
@Html.LangAsHtmlString("To make a new deposit, please visit the {0} page and select the Deposit option under the actions menu for {1}.", "<a href='/balances'>" + Html.Lang("Balances") + "</a>", (string)ViewBag.CurrencyCode.ToString())
<br><br>
<script src="/public/js/mustache.js" type="text/javascript"></script>
<script src="/public/js/rich.base.js" type="text/javascript"></script>
<script src="/public/js/rich.grid.js" type="text/javascript"></script>
<link href="/public/css/rich.grid.css" rel="stylesheet" type="text/css"> 
<script src="~/public/js/virtualCoinDeposit.js"></script>
<div id="tablemetadata"></div>
<div id="ticketGrid"></div>