@using DotPay.Language

<div class="dotpay-featurette">
    <div class="container">
        <h2 class="dotpay-featurette-title">全球付 选点付</h2>
        <p class="lead">您的快捷支付专家</p>
        <hr class="half-rule">
        <div class="row">
            <div class="col-sm-4">
                <img style="margin:0 auto;" src="@ViewBag.CDN/public/images/free.png" alt="Sass and Less support" class="img-responsive">
                <h3>实时</h3>
                <p></p>
            </div>
            <div class="col-sm-4">
                <img style="margin:0 auto;" src="@ViewBag.CDN/public/images/fast.png" alt="Responsive across devices" class="img-responsive">
                <h3>方便</h3>
                <p></p>
            </div>
            <div class="col-sm-4">
                <img style="margin:0 auto;" src="@ViewBag.CDN/public/images/open.png" alt="Components" class="img-responsive">
                <h3>快捷</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
@*<div class="features row">
        <div class="item25">
            <h2 class="title">@Html.Lang("features_anywhere")</h2>
            <div class="imgbox">
                <img src="@ViewBag.CDN/public/images/anywhere.png" style="width: 210px; height: 106px">
            </div>
            任何有网络的地方都可以使用
        </div>
        <div class="item25">
            <h2 class="title">@Html.Lang("features_open")</h2>
            <div class="imgbox">
                <img src="@ViewBag.CDN/public/images/open.png" style="width: 168px; height: 132px">
            </div>
            没有任何限制，一切尽在您的掌握之中
        </div>
        <div class="item25">
            <h2 class="title">@Html.Lang("features_free")</h2>
            <div class="imgbox">
                <img src="@ViewBag.CDN/public/images/free.png" style="width: 210px; height: 106px">
            </div>
            除支付渠道的交易手续费外，dotpay 不再收取任何额外费用
        </div>
        <div class="item25">
            <h2 class="title">@Html.Lang("features_fast")</h2>
            <div class="imgbox">
                <img src="@ViewBag.CDN/public/images/fast.png" style="width: 148px; height: 147px">
            </div>
            交易瞬时完成，转账无需等待
        </div>
    </div>*@