@using DotPay.ViewModel;
@using FC.Framework;
@using DotPay.Web;
@using DotPay.Common;
@using DotPay.Language;
<ul class="tabs">
    <li><a href="/profile">@Html.Lang("Profile")</a></li>
    <li class="active"><a href="/balances">@Html.Lang("Balances")</a></li>
    <li><a href="/orders">@Html.Lang("Orders")</a></li>
    <li><a href="/trades">@Html.Lang("Trade History")</a></li>
    <li><a href="/loginHistory">@Html.Lang("Login History")</a></li>
</ul>

<div class="success box" id="sucessBox" style="display:none;"><img src="/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br><span id="spanSuccessBox"></span></div>
<div class="fail box" id="failBox" style="display:none;"><img src="/public/images/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_error")!</strong><br><span id="spanFailBox"></span></div>
<div class="success box" id="depositSuccessBox" style="display:none;text-align:left">
    <img src="/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br>
    <span style="display:inline-block" id="spanDepositCodeSuccessBox"></span><br>
    <strong style="margin-left:45px">@Html.Lang("Deposit Code:")</strong> <span style="display:inline-block;color:#090" id="spanDepositCode"></span>&nbsp; <input type="button" class="inline copy-button" style="float:none" data-clipboard-target="spanDepositCode" value="Copy">
</div>
<h2>Withdraw @ViewBag.Currency</h2>
<form id="withdrawForm" class="withdrawform">
    @Html.AntiForgeryToken()
    @Html.Lang("Your current available {0} balance:", (string)ViewBag.Currency.ToString()) <strong><a href="#" id="balance">@ViewBag.Balance.ToString("0.########") </a></strong><br>
    <div class="options box" style="display: inline-block;">
        <span>@Html.LangAsHtmlString("Your remaining withdrawal limit is <strong>{0}</strong> today.", (string)ViewBag.CurrentDayLimit.ToString("0.#########") + "/" + (string)ViewBag.CurrencySetting.WithdrawDayLimit.ToString("0.########"))</span>
    </div><br>
    <span>
        <input type="checkbox" name="isWithdrawToCode" id="isWithdrawToCode"> @Html.Lang("Withdraw to DotPay Deposit Code") (@Html.Lang("No fee"))
    </span><br><br>
    <label class="title">@Html.Lang("Amount to Withdraw"):</label><input name="withdrawamount" id="withdrawamount" type="text" /><br>
    <span id="oneTimeLimitDes" class="remark"> @Html.Lang("Withdrawal limit one time:") <strong>@ViewBag.CurrencySetting.WithdrawOnceLimit.ToString("0.########")</strong></span><br><br>
    <input type="hidden" id="hidAccountID" name="accountID" value="@(ViewBag.LastAccount == null ? "" : ViewBag.LastAccount.ID)" />
    <label class="title">@Html.Lang("Withdraw Fee"):</label>
    <span id="withdrawFeeRate"> @ViewBag.CurrencySetting.WithdrawFeeRate.ToString("P")</span> @Html.Raw("+") <span id="withdrawFixedFee">@ViewBag.CurrencySetting.WithdrawFixedFee</span> @ViewBag.Currency <br><br>
    <label class="title">@Html.Lang("Net Withdraw Amount"):</label><input type="hidden" name="amount"><span id="netTotal">0.00000000</span> @ViewBag.Currency <br><br>
    <div id="withdrawReceiverInfo">
        <label class="title">提现方式：</label><select id="ddlbank" name="bank">
            @foreach (Enum bank in Enum.GetValues(typeof(DotPay.Common.Bank)))
            {
                <option value="@bank.ToString("D")" @(((ViewBag.LastAccount != null && bank.ToString("D") == ViewBag.LastAccount.Bank.ToString("D"))) ? "selected='selected'" : "")>@bank.GetDescription()</option>
            }
        </select><br><br>
        <label class="title">收款人姓名：</label><input readonly="readonly" type="text" value="@(ViewBag.RealNameInfo == null ? "请完成实名认证后进行提现" : ViewBag.RealNameInfo.RealName)" /><br>
        <span class="remark" style="margin-left:180px">必须与实名认证名字相同</span><br>
        <label class="title">提现账号(卡号)：</label><input id="txtBankAccount" type="text" name="bankAccount" value="@(ViewBag.LastAccount == null ? "" : ViewBag.LastAccount.BankAccount)" /><br>
        <span class="remark" style="margin-left:180px">只能是数字，请勿加空格</span><br>
    </div>
    <label class="title">@Html.Lang("Confirm Trade Password"):</label><input type="password" name="tradePassword" /><br>
    <a id="forgetTradePassword">@Html.Lang("forgot trade password? click here to reset your trade password")</a><br>
    @if (ViewBag.CurrentUser.IsOpenTwoFactorGA)
    {
        <label class="title"> @Html.Lang("Google OTP") : </label><input type="text" name="ga_Otp" id="ga_Otp_modifyPassword" value="" autocomplete="off"><br>
        <span class="remark" style="margin-left:180px">@Html.Lang("Please enter code from your Google Authenticator App.")</span><br>
    }
    @if (ViewBag.CurrentUser.IsOpenTwoFactorSMS)
    {
        <label class="title">@Html.Lang("SMS OTP") :</label><input type="text" name="sms_Otp" id="sms_Otp_modifyPassword" value="" autocomplete="off"><br>
        <span class="remark" style="margin-left:180px">@Html.Lang("Please enter code from your Sms.")</span><br>
        <a id="btnSendSMSForWithdraw">@Html.Lang("Click here to get SMS Authentication Code")</a><br>
    }
    <br><br>
    <input type="submit" value="@Html.Lang("Process Withdrawal")">
</form>
<div class="box fail" style="margin: 25px 0 0;">
    <strong>请注意:</strong> 最少 @ViewBag.CurrencySetting.WithdrawOnceMin.ToString("0.##") 元，一次最多 @ViewBag.CurrencySetting.WithdrawOnceLimit.ToString("0.##") 元，手续费<strong>@((ViewBag.CurrencySetting.WithdrawFeeRate * 100).ToString("0.##"))</strong>% + @(ViewBag.CurrencySetting.WithdrawFixedFee.ToString("0.##"))元/笔，充值码免收<br>
</div>
<div class="box fail" style="margin: 25px 0 0;">
    <strong>请注意:</strong> 目前本站支持各大银行快速提现，提现申请被处理后 1-4 小时到账。<br>
</div>
<link href="~/public/css/messi.css" rel="stylesheet" />
<script src="/public/js/jquery.validate.min.js"></script>
<script src="~/public/js/messi.min.js"></script>
<script src="~/public/js/ZeroClipboard/ZeroClipboard.min.js"></script>
<script type="text/javascript">
    ZeroClipboard.config({ swfPath: "/public/js/zeroclipboard/zeroclipboard.swf" });

    var client = new ZeroClipboard($(".copy-button"));

    client.on("ready", function (readyEvent) {
        client.on("aftercopy", function (event) {
            $(event.target).css("background", "#666");
            $(event.target).val("Copied");
        });
    });
</script>
<script>
    $(function () {
        $("#isWithdrawToCode").click(function () {
            if ($(this).attr("checked"))
                $("#withdrawReceiverInfo").hide();
            else $("#withdrawReceiverInfo").show();
        });
        $('#withdrawamount').change(function () {
            calcWithdrawAmoun()
        });
        $("#forgetTradePassword").click(function(){
            $.ajax({
                type: 'POST',
                url: '/forgetTradePassword',
                data: $("#withdrawForm").serialize() ,
                success: function (data) {
                    if(data.Code==1)
                        commonFormSuccessCallback(data);
                    else if(data.Code==2)
                        window.location.href="/resetTradePasswordBy2FA/"+data.Hash;
                    else
                        commonFormFailCallback(data);
                }
            });
        });
        function calcWithdrawAmoun(){
            var feeRate = parseFloat("@ViewBag.CurrencySetting.WithdrawFeeRate");
            var fixedFee = parseFloat("@ViewBag.CurrencySetting.WithdrawFixedFee");
            var onceLimit = parseFloat("@ViewBag.CurrencySetting.WithdrawOnceLimit");
            var amount = parseFloat($('#withdrawamount').val())
            if (amount > onceLimit) {
                amount = onceLimit;
                $("#oneTimeLimitDes").addClass("priceDown");
                setTimeout(function () { $("#oneTimeLimitDes").toggleClass("priceDown"); }, 3000);
                $('#withdrawamount').val(amount);
            }
            var fee=0;
            if($("#isWithdrawToCode:checked").size()>0) fee=0;
            else fee=fixedFee + amount.mul(feeRate);
            $('#netTotal').text((amount - fee).toFixed(8));
            $('input[name="amount"]').val((amount - fee).toFixed(8))
        }

        $("#balance").on('click', function (event) {
            event.preventDefault();
            var feeRate = parseFloat("@ViewBag.CurrencySetting.WithdrawFeeRate");
            var fixedFee = parseFloat("@ViewBag.CurrencySetting.WithdrawFixedFee");
            var onceLimit = parseFloat("@ViewBag.CurrencySetting.WithdrawOnceLimit");
            var amount = parseFloat($(this).text())
            if (amount > onceLimit) amount = onceLimit;

            var fee=0;
            if($("#isWithdrawToCode:checked").size()>0) fee=0;
            else fee=fixedFee + amount.mul(feeRate);
            $('#withdrawamount').val(amount);
            $('#netTotal').text((amount - fee).toFixed(8));
            $('input[name="amount"]').val((amount - fee).toFixed(8))
        });
        $("#btnSendSMSForWithdraw").click(function () {
            var btn = $(this);
            sendsms(btn, smsUseFor.Withdraw);
        });

        $("#withdrawForm").submit(function (event) {
            event.preventDefault();
            if ($(this).valid()) {
                new Messi('Are you sure you would like to withdraw this amount?', {
                    title: 'Please confirm', titleClass: 'info',
                    buttons: [{ id: 0, label: 'Yes', val: 'Y', btnClass: 'btn-success' },
                        { id: 1, label: 'No', val: 'N', btnClass: 'btn-danger' }
                    ],
                    modal: true,
                    callback: function (val) {
                        if (val == 'Y') {
                            $.ajax({
                                type: 'POST',
                                url: '/withdraw/cny',
                                data: $("#withdrawForm").serialize() + "&withdrawToCode=" + ($("#isWithdrawToCode:checked").size()==0?false:true),
                                success: function (data) {
                                    if (data.Code == 1) {
                                        $('#spanSuccessBox').html(data.Message);
                                        $('#sucessBox').show();
                                        $('#failBox').hide();
                                        $('html, body').animate({
                                            scrollTop: $("#sucessBox").offset().top - 95
                                        }, 1000);
                                        $('#balance').text(data.new_balance);
                                        $('input[name="amount"]').val('0.00000000');
                                        $('#withdrawamount').val('0.00000000');
                                        $('input[name="password"]').val('');
                                        $('#netTotal').text('0.00000000');
                                    }
                                    else if(data.Code==2){
                                        $('#spanDepositCodeSuccessBox').html(data.Message);
                                        $("#spanDepositCode").html(data.DepositCode);
                                        $('#depositSuccessBox').show();
                                        $('#failBox').hide();
                                        $('#sucessBox').hide();
                                        $('html, body').animate({
                                            scrollTop: $("#depositSuccessBox").offset().top - 95
                                        }, 1000);
                                        $('#balance').text(data.new_balance);
                                        $('input[name="amount"]').val('0.00000000');
                                        $('#withdrawamount').val('0.00000000');
                                        $('input[name="password"]').val('');
                                        $('#netTotal').text('0.00000000');
                                    }
                                    else {
                                        $('#spanFailBox').html(data.Message);
                                        $('#failBox').show();
                                        $('#depositSuccessBox').hide();
                                        $('#sucessBox').hide();
                                        $('html, body').animate({
                                            scrollTop: $("#failBox").offset().top - 95
                                        }, 1000);
                                    }
                                }
                            });
                        }
                    }
                });
            }
        });
        $("#withdrawForm").validate({
            rules: {
                withdrawamount: {
                    required: true,
                    min: @ViewBag.CurrencySetting.WithdrawOnceMin,
                    max: @ViewBag.Balance
                    },
                tradepassword: {
                    required: true
                },
                ga_Otp: "required",
                sms_Otp: "required"
            },
            messages: {
                withdrawamount: {
                    min: "Withdraw amount must be equal to or greater than @ViewBag.CurrencySetting.WithdrawOnceMin @ViewBag.Currency.",
                    max: "Withdraw amount must be equal to or less than your available balance."
                },
                address: "Please enter your address.",
                tradepassword: {
                    required: "Please enter your trade password.",
                },
                ga_Otp: "Please enter your Google Authentication OTP.",
                sms_Otp: "Please enter your SMS Authentication OTP."
            }
        });
    });

</script>
