@using DotPay.Language
<ul class="tabs">
    <li><a href="/profile">@Html.Lang("Profile")</a></li>
    <li><a href="/balances">@Html.Lang("Balances")</a></li>
    <li class="active"><a href="/orders">@Html.Lang("Orders")</a></li>
    <li><a href="/trades">@Html.Lang("Trade History")</a></li>
    <li><a href="/loginHistory">@Html.Lang("Login History")</a></li>
</ul>
<div class="success box" id="sucessBox" style="display:none;"><img src="/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br><span id="spanSuccessBox"></span></div>
<div class="fail box" id="failBox" style="display:none;"><img src="/public/images/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_error")!</strong><br><span id="spanFailBox"></span></div>
<h2>@ViewBag.CurrencyCode @Html.Lang("Orders")</h2>
<input type="hidden" id="currencyCode" value="@ViewBag.CurrencyCode" />
@Html.LangAsHtmlString("Below is a list of open orders that you have made. Any completed orders will show up under your {0}.", "<a href='/trades'> " + Html.Lang("Trade History") + " </a>")
<br>
<br>
<script src="/public/js/mustache.js" type="text/javascript"></script>
<script src="/public/js/rich.base.js" type="text/javascript"></script>
<script src="/public/js/rich.grid.js" type="text/javascript"></script>
<link href="/public/css/rich.grid.css" rel="stylesheet" type="text/css">
<script src="~/public/js/myorders.js"></script>
<div id="tablemetadata"></div>
<div id="ticketGrid"></div>
