@{
    Layout = null;
}
@model  DotPay.ViewModel.CurrentStatisticsModel
@using FC.Framework
@using DotPay.Language
<div class="marketheader left">
    <h1>@ViewData["TargetCurrency"].ToString() / @ViewData["BaseCurrency"].ToString()</h1>
    <h2>@ViewData["TargetCurrencyENName"]/@ViewData["BaseCurrency"]</h2>
</div>
<div class="stats right">
    <div class="stat" style="padding-left: 0;">
        <span class="title">@Html.Lang("Last Price")</span><br />
        <strong><span id="spanLastPrice">@ViewBag.Statistics.NewestPrice.ToString("0.########")</span></strong>
    </div>
    <div class="stat">
        <span class="title">@Html.Lang("24HR High")</span><br />
        <strong><span class="marketHigh" id="spanHighPrice">@ViewBag.Statistics.HighPrice.ToString("0.########")</span></strong>
    </div>
    <div class="stat">
        <span class="title">@Html.Lang("24HR Low")</span><br />
        <strong><span class="marketLow" id="spanLowPrice">@ViewBag.Statistics.MarketLowPrice.ToString("0.########")</span></strong>
    </div>
    <div class="stat" style="padding-right: 0; border: 0;">
        <span class="title">@Html.Lang("24HR Volume")</span><br />
        <strong><span class="marketVolume" id="spanVolume">@ViewBag.Statistics.BaseCurrencyVolume.ToString("0.##")</span></strong>
    </div>
</div>