@using DotPay.Language;
@using DotPay.ViewModel;
@using DotPay.Web;
<ul class="tabs">
    <li><a href="/profile">@Html.Lang("Profile")</a></li>
    <li class="active"><a href="/balances">@Html.Lang("Balances")</a></li>
    <li><a href="/orders">@Html.Lang("Orders")</a></li>
    <li><a href="/trades">@Html.Lang("Trade History")</a></li>
    <li><a href="/loginHistory">@Html.Lang("Login History")</a></li>
</ul>

<h2>@Html.Lang("Account Balances")</h2>
<p>@Html.Lang("Use the actions button to deposit, withdraw or view orders/trades for that specific coin.")</p>
<br>
<div class="box options"><input type="checkbox" class="hideZero">&nbsp; @Html.Lang("Hide zero balances")</div>
<table class="table">
    <tbody>
        <tr>
            <th>@Html.Lang("Coin Code")</th>
            <th>@Html.Lang("Coin Name")</th>
            <th>@Html.Lang("Available Balance")</th>
            @*<th>Pending Deposits</th>
                <th>Pending Withdrawals</th>*@
            <th>@Html.Lang("Held for Orders")</th>
            <th></th>
        </tr>
        @foreach (AccountModel account in (IEnumerable<AccountModel>)ViewBag.UserAccounts)
        {
            <tr @(account.Balance == 0 ? "class=zero" : "")>
                <td>@account.Code</td>
                <td>@Html.GetEnumDescription(typeof(DotPay.Common.CurrencyType), account.Code)</td>
                <td>
                    @if (account.Code == "CNY")
                    {
                        @Html.Raw(account.Balance.ToString("0.00"))
                    }
                    else
                    {
                        @Html.Raw(account.Balance.ToString("0.0000"))
                    }
                </td>
                @*<td>@account.Locked.ToString("0.########")</td>
                    <td>0.00000000</td>*@
                <td>
                    @account.Locked.ToString("0.########")
                </td>
                <td align="right">
                    <a class="btn inline actions">@Html.Lang("Actions") &nbsp;<img src="/public/images/icons/arrowdown.png" alt="Expand"></a>
                    <ul class="dropdown actionmenu">
                        <li><a href="/deposit/@account.Code">@Html.Lang("Deposit {0}", account.Code)</a></li>
                        <li><a href="/withdraw/@account.Code">@Html.Lang("Withdraw {0}", account.Code) </a></li>
                        <li><a href="/deposits/@account.Code">@Html.Lang("View {0} Deposits", account.Code)</a></li>
                        <li><a href="/withdrawals/@account.Code">@Html.Lang("View {0} Withdrawals", account.Code)</a></li>
                        <li><a href="/orders/@account.Code">@Html.Lang("View {0} Orders", account.Code)</a></li>
                        <li><a href="/trades/@account.Code"> @Html.Lang("View {0} Trades", account.Code)</a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        // Hide zero balances button
        $('.hideZero').on('click', function (event) {
            $('tr.zero').toggle();
            if ($('tr.zero').is(':visible')) {
                $.cookie('zeroBalances', '1');
            } else {
                $.cookie('zeroBalances', '0');
            }
            $("#sidebar").css("min-height", 0);
            $("#sidebar").css("min-height", $(document).height() - $("#header").outerHeight() - $("#footer").outerHeight());

        });
        if ($.cookie('zeroBalances') === undefined || $.cookie('zeroBalances') === '1') {
            $('tr.zero').show();
            $('.hideZero').prop('checked', false);
        } else {
            $('tr.zero').hide();
            $('.hideZero').prop('checked', true);
        }
    });
</script> 