@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@using DotPay.Language
@using DotPay.Web
@using FC.Framework
<nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/my/index/">
                <img alt="Brand" style="height:40px;width:80px;" src="~/public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/my/index/"> 我的资金</a></li>
                <li><a href="/my/txrecords">交易记录</a></li>
                <li><a href="/my/profile">账户设置</a></li>
                <li><a href="/transfer/cny/payment">应用中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row dotpay-i-assets-panel">
    <div class="container"> 
        <table class="table acct_assets">
            <tr>
                <td>
                    <div class="assets-content">
                        <label class="assets-header">人民币余额:</label>
                        <div>
                            <p class="assets-amount">
                                @if (ViewBag.CNYAccount != null)
                                {
                                    <strong class="amount">@( Math.Floor(ViewBag.CNYAccount.Balance))<span class="fen">@((ViewBag.CNYAccount.Balance - Math.Floor(ViewBag.CNYAccount.Balance)).ToString(".00"))</span></strong>
                                }
                            </p>
                            <p class="assets-des">
                                <a class="btn btn-default btn-xs" href="/deposit/cny">充值</a>
                                <a class="btn btn-default btn-xs" href="/withdraw/cny">提现</a>
                                <a class="btn btn-default btn-xs" href="/transfer/cny/payment">转账</a>
                            </p>
                        </div>
                    </div>
                </td>
                <td class="assets-chart">
                    <label>账户状态:</label>未认证<i> <a href="#">获得账户认证</a></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="container panel panel-info  tx-records">
        <div class="panel-heading">
            <h3 class="panel-title">交易记录</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:180px;">流水号</th>
                        <th style="width:180px;">日期</th>
                        <th style="width:180px;">名称|备注</th>
                        <th style="width:180px;">收入</th>
                        <th style="width:180px;">支出</th>
                        <th style="width:180px;">支付方式</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (DotPay.ViewModel.TransactionRecord tx in (IEnumerable<DotPay.ViewModel.TransactionRecord>)ViewBag.TxRecords)
                    {
                        <tr>
                            <td>@tx.SequenceNo</td>
                            <td>@(tx.DoneAt > 0 ? tx.DoneAt.ToLocalDateTime().ToString("yyyy-MM-dd") : tx.CreateAt.ToLocalDateTime().ToString("yyyy"))</td>
                            <td>@(tx.Category + (string.IsNullOrEmpty(tx.Description) ? "" : "-" + tx.Description))</td>
                            <td>@tx.Income.ToString("0.##")</td>
                            <td>@tx.Output.ToString("0.##")</td>
                            <td>>@tx.Payway</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>