@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@using DotPay.Language
@using DotPay.Web
@using FC.Framework
<div class="profile_nav">
    <ul class="tabs">
        <li class="active"><a href="/my/profile">我的点付</a></li>
        <li><a href="/balances">@Html.Lang("Balances")</a></li>
        <li><a href="/orders">@Html.Lang("Orders")</a></li>
        <li><a href="/trades">@Html.Lang("Trade History")</a></li>
        <li><a href="/loginHistory">@Html.Lang("Login History")</a></li>
    </ul>
</div>

<h2>欢迎您，@ViewBag.CurrentUser.NickName</h2>
<div class="success box" id="sucessBox" style="display:none;">
    <img src="/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br><span id="spanSuccessBox"></span>
</div>
<div class="fail box" id="failBox" style="display:none;">
    <img src="/public/images/error.png" alt="Error!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_error")!</strong><br><span id="spanFailBox"></span>
</div>
<div id="acct_status">
    <label>状态:</label> <span>未认证 <a href="#">获得账户认证</a></span>
</div>
<div id="acct_balance" class="balance" style="font-size: 16px;padding: 10px;">
    <label>人民币余额:</label> <span>￥ 10</span> <a href="#">充值</a> <a href="#">提现</a> <a href="#">转账</a>
</div>

<div id="transaction_records" class="tx_records">
    <div class="title">交易记录</div>
    <table class="table">
        <tbody>
            <tr>
                <th style="width:180px;">流水号</th>
                <th style="width:180px;">日期</th>
                <th style="width:180px;">名称|备注</th>
                <th style="width:180px;">收入</th>
                <th style="width:180px;">支出</th>
                <th style="width:180px;">账户余额</th>
                <th style="width:180px;">支付方式</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/public/js/jquery.validate.min.js"></script>
<script src="/public/js/profile.js"></script>
