@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}

@using DotPay.Language

<nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/my/index/">
                <img alt="Brand" style="height:40px;width:80px;" src="~/public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/my/index/"> 我的资金</a></li>
                <li><a href="/my/txrecords">交易记录</a></li>
                <li class="active"><a href="/my/profile">账户设置</a></li>
                <li><a href="/transfer/cny/payment">应用中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container dotpay-i-base-panel">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 profile-nav-container">
                <ul class="nav  nav-stacked profile-nav">
                    <li class="nav-item">
                        <a href="/my/profile" class="third-nav-link">基本信息 <i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="third-nav-link">手机设置<i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item ">
                        <a href="/my/realnameauth" class="third-nav-link">实名认证<i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/my/modifyloginpwd" class="third-nav-link">修改登录密码<i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/my/modifypaypwd" class="third-nav-link">修改支付密码<i class="icon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 dotpay-modfiy-pwd">
                <div class="basetitle">
                    <h4>手机设置</h4>
                </div>
                <div class="desc-panel">
                    <span class="glyphicon glyphicon-info-sign info-icon"></span>
                    <span class="desc">
                        绑定手机后，可有效保证您的财产安全，每次财产发生变化都需校验手机验证码<br>
                    </span>
                </div>
                <hr />
                <div class="fail box" id="failBox" style="display:none;">
                    <img src="~/public/images/error.png" alt="Error!" class="left 2x" width="24"><span id="spanFailBox"></span>
                </div>
                <div class="success box" id="sucessBox" style="@(!string.IsNullOrEmpty( ViewBag.ResetSuccess)?"": "display:none;")">
                    <img src="~/public/images/success.png" alt="Success!" class="left 2x" width="32"><strong>@Html.Lang("msg_box_success")!</strong><br><span id="spanSuccessBox">@ViewBag.ResetSuccess</span>
                </div>
                @if (string.IsNullOrEmpty(ViewBag.CurrentUser.Mobile))
                {
                    <form id="mobile-form" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-sm-4 col-md-2 control-label" for="mobilenumber">请输入手机号码</label>
                            <div class="col-sm-4 controls">
                                <input class="form-control" id="mobilenumber" type="tel" name="mobile" value="">
                                <a class="app-link" href="javascript:void(0)" id="btnSendSMSForBindSMS">@Html.Lang("Click here to get SMS Authentication Code")</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-2 control-label" for="otpverify">短信验证码</label>
                            <div class="col-sm-4 controls">
                                <input class="form-control" type="text" name="otpverify" id="otpverify" value="" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-4 col-lg-3  col-sm-offset-3 controls">
                                <input type="submit" class="btn btn-primary btn-large btn-block" value="确定">
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <div class="panel panel-info">
                        <div class="panel-heading"> 
                           当前绑定的手机号： @(ViewBag.CurrentUser.Mobile.ToString().Substring(0, 3) + "******" + ViewBag.CurrentUser.Mobile.ToString().Substring(9, 2))
                        </div> 
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSendSMSForBindSMS").click(function () {
            var reg = /^((\+86)|(86))*1[3|4|5|7|8]\d{9}$/;
            var mobile = $("#mobilenumber").val();
            if (reg.test(mobile)) {
                var btn_text = $(this).text();
                $.ajax({
                    type: 'POST',
                    url: '/sendsms',
                    data: "usefor=" + smsUseFor.BindMobile + "&mobile=" + $("#mobilenumber").val(),
                    success: function (data) {
                        if (data.Code == 1) {
                            var interval = 120;
                            var btn = $("#btnSendSMSForBindSMS");
                            var intervalSms = window.setInterval(function () {
                                if (interval-- > 0) {
                                    btn.attr("disabled", true).addClass("disabled").text(btn_text + "(" + interval + ")")
                                }
                                else {
                                    btn.attr("disabled", false).removeClass("disabled").text(btn_text);
                                    window.clearInterval(intervalSms);
                                }
                            }, 1000);
                        } else {
                            commonFormFailCallback(data);
                        }
                    }
                });
            }
            else {
                $("#mobilenumber").focus();
            }
        });
        $('#mobile-form').bootstrapValidator({
            message: '请输入合法的值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            trigger: 'cut paste blur',
            fields: {
                mobile: {
                    validators: {
                        notEmpty: {
                            message: '请输入手机号'
                        },
                        regexp: {
                            regexp: /1[3|5|7|8|][0-9]{9}/,
                            message: '请输入正确的手机号'
                        }
                    }
                },
                otpverify: {
                    validators: {
                        notEmpty: {
                            message: '请输入短信验证码'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            var $form = $(e.target);
            $.ajax({
                type: 'POST',
                url: '/bingmobile',
                data: $form.serialize(),
                success: function (data) {
                    if (data.Code == 1) {
                        window.location.reload();
                    } else {
                        commonFormFailCallback(data);
                    }
                }
            });
        }).on('error.validator.bv', function (e, data) {
            data.element
                .data('bv.messages')
                .find('.help-block[data-bv-for="' + data.field + '"]').hide()
                .filter('[data-bv-validator="' + data.validator + '"]').show();
        });
    });
</script>
