@{
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}
@using DotPay.Language
@using DotPay.Web
@using FC.Framework
@using System.Linq
@using System.Linq.Expressions
<nav class="navbar navbar-default dotpay-navbar-profile" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/my/index/">
                <img alt="Brand" style="height:40px;width:80px;" src="~/public/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/my/index/"> 我的资金</a></li>
                <li><a href="/my/txrecords">交易记录</a></li>
                <li class="active"><a href="/my/profile">账户设置</a></li>
                <li><a href="/transfer/cny/payment">应用中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container dotpay-i-base-panel">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 profile-nav-container">
                <ul class="nav  nav-stacked profile-nav">
                    <li class="nav-item active">
                        <a href="#" class="third-nav-link">基本信息 <i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/my/mobile" class="third-nav-link">手机设置<i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/my/realnameauth" class="third-nav-link">实名认证<i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/my/modifyloginpwd" class="third-nav-link">修改登录密码<i class="icon-chevron-right"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/my/modifypaypwd" class="third-nav-link">修改支付密码<i class="icon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="basetitle">
                    <h4>基本信息</h4>
                </div>
                <table class="table mtl-3">
                    <tr>
                        <td colspan="3">
                            <div class="col-sm-2 col-lg-1"><img class="head-icon" src="~/public/images/head.gif" /></div>
                            <div class="base-info col-sm-8">
                                <p>账户：@ViewBag.CurrentUser.LoginName</p>
                                <p>
                                    手机号：
                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentUser.Mobile))
                                    {
                                        @ViewBag.CurrentUser.Mobile <a class="app-link" href="/my/mobile">修改</a>
                                    }
                                    else
                                    {
                                        @("未设置手机号") <a class="app-link" href="/my/mobile">设置</a>
                                    }
                                </p>
                                <p>
                                    真实姓名：
                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentUser.IdNo))
                                    {
                                        @ViewBag.CurrentUser.RealName
                                    }
                                    else
                                    {
                                        @("未提交实名认证信息")
                                    }
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="table mtl-3">
                    <tr>
                        <td>
                            <div>
                                <label class="base-header">登陆密码:</label>
                            </div>
                        </td>
                        <td>
                            <div class="base-content">
                                登录点付账户时需要输入的密码
                            </div>
                        </td>
                        <td>
                            <div class="base-content  pull-right">
                                <a class="app-link" href="/my/modifyloginpwd">修改登陆密码</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label class="base-header">支付密码:</label>
                            </div>
                        </td>
                        <td>
                            <div class="base-content">
                                在账户资金变动、修改账户信息时需要输入的密码
                            </div>
                        </td>
                        <td>
                            <div class="base-content pull-right">
                                <a class="app-link" href="/deposit/cny">修改支付密码</a>
                                <span>|</span>
                                <a class="app-link" href="javascript:void(0)" onclick="forgetpaypwd();">找回支付密码</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label class="base-header">实名认证:</label>
                            </div>
                        </td>
                        <td>
                            <div class="base-content">
                                @if (!string.IsNullOrEmpty(ViewBag.CurrentUser.IdNo))
                                {
                                    @("身份证号码 " + ViewBag.CurrentUser.IdNo[0].ToString() + "****************" + ViewBag.CurrentUser.IdNo[17])
                                }
                                else
                                {
                                    @("未提交实名认证信息")
                                }
                            </div>
                        </td>

                        @if (!string.IsNullOrEmpty(ViewBag.CurrentUser.IdNo))
                        {
                            <td>&nbsp;</td>
                        }
                        else
                        {
                            <td>
                                <div class="base-content  pull-right">
                                    <a class="app-link" href="/deposit/cny">提交实名信息</a>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label class="base-header">注册时间:</label>
                            </div>
                        </td>
                        <td>
                            <div class="base-content">
                                @(((int)ViewBag.CurrentUser.CreateAt).ToLocalDateTime().ToString("yyyy年MM月dd日"))
                            </div>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <script>
        function forgetpaypwd() {
            $.ajax({
                type: 'POST',
                url: '/forgetpayPassword',              
                success: function (data) {
                    if (data.Code == 1)
                        commonFormSuccessCallback(data);
                    else if (data.Code == 2)
                        window.location.href = "/resetPayPwdByMobile/" + data.Hash;
                    else
                        commonFormFailCallback(data);
                }
            });
        }
    </script>

</div>